---
layout: site_frame
---

<header class="main-header">
	<h1 class="main-header__category">{{ page.category_name }}</h1>
</header>

<main class="main" role="main">
	<div class="main__inner">
		<div class="article-list clearfix">
			{% for post in site.posts %}
				{% for category in post.categories %}
					{% if category == page.category_name %}
						<article class="article-list__item" itemscope itemtype="http://schema.org/BlogPosting" role="article">
							<div class="article-list__inner">
								<header class="article-list__header">
									<h2 class="article-list__title" itemprop="name"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
								</header>
								<section class="article-list__excerpt" itemprop="description">
									<p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
								</section>
								<div class="article-list__meta">
									<time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
								</div>
							</div>
						</article>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</div>
	</div>
</main>