---
---
<!DOCTYPE html>
<html lang="ja">
	{% include head.html %}
	<body itemscope itemtype="http://schema.org/Article">
		{% include header.html %}

		<main class="main" role="main">
			<div class="main__inner">

				<article class="article">
					<div class="article__inner">

						{% if page.image %}
							<div class="article__img">
								<div class="article__image-image" style="background-image: url({% if page.image %}{{ page.image }}{% endif %})">
								Article Image
								</div>
								<div class="article__meta">
									<h1 class="article__title">{{ page.title }}</h1>
									<div class="article__author clearfix">
										<div class="author__img" style="background-image: url({{ site.author_image }})">Blog Logo</div>
										<h4 class="author__name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ site.author }}</h4>
									</div>
									<div style="text-align:center">
										<a href="#topofpage" class="topofpage"><i class="fa fa-angle-down"></i></a>
									</div>
								</div>
							</div>
						{% else %}
							<div class="article__img--noimg">
								<div class="article__meta">
									<h1 class="article__title">{{ page.title }}</h1>
									<div class="article__author clearfix">
										<div class="author__img" style="background-image: url({{ page.author_image }})">Blog Logo</div>
										<h4 class="author__name" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ page.author }}</h4>
									</div>
								</div>
							</div>
						{% endif %}

						<section class="article__content">
							<a name="topofpage"></a>
							{{content}}
						</section>
					</div>
				</article>
			</div>
		</main>

		<div class="bottom-closer">
			<div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover }})"{% endif %}>
			Image
			</div>
			<div class="inner">
				<h1 class="blog-title">{{ site.title }}</h1>
				<h2 class="blog-description">{{ site.description }}</h2>
				<a href="/" class="btn">Back to Overview</a>
			</div>
		</div>

		{% include javascripts.html %}
	</body>
</html>
