---
layout: site_frame
---

<main class="main" role="main">
	<div class="main__inner">

		<article class="article">
			<div class="article__inner">
				{% if page.image %}
					<div class="article__header">
						<div class="article__img" style="background-image: url({% if page.image %}{{ page.image }}{% endif %})">
							Article Image
						</div>
						<h1 class="article__title">{{ page.title }}</h1>
						<div class="article__meta">							
							<time class="author__time" datetime="{{ page.date | date: "%F %R" }}">{{ page.date | date_to_string }}</time>
						</div>
					</div>
				{% else %}
					<div class="article__header--noimg">
						<h1 class="article__title">{{ page.title }}</h1>
						<div class="article__meta">
							<time class="author__time" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
						</div>
					</div>
				{% endif %}

				<section class="article__content">
					<a name="topofpage"></a>
					 {{ content | toc_generate }}
				</section>

				<footer class="article__footer">
					<section class="share">
						{% for social in site.social %}
							{% if social.share_url != null %}
								<a class="icon-{{ social.icon }}" href="{{ social.share_url }}{{ social.share_title }}{{page.title | cgi_escape}}{{ social.share_link }}{{site.url}}{{page.id}}" onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
								<i class="fa fa-{{ social.icon }}"></i><span class="hidden">{{ social.icon }}</span>
								</a>
							{% endif %}
						{% endfor %}
					</section>
				</footer>

			</div>
		</article>

	</div>
</main>

<div class="bottom-closer">
	<div class="bottom-closer__img" {%if site.cover %} style="background-image: url({{ site.cover }})"{% endif %}>
		Image
	</div>
	<div class="bottom-closer__inner">
		<h1 class="bottom-closer__title">{{ site.title }}</h1>
		<h2 class="bottom-closer__description">{{ site.description }}</h2>
		<a href="/" class="bottom-closer__btn">TOPに戻る</a>
	</div>
</div>
