---
---

<!DOCTYPE html>
<html lang="ja">
	{% include head.html %}
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKTDR6W"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		
		<div id="container">
			<div id="container-inner">
				{% include header.html %}

				<div id="content">
					<div id="content-inner">
						{{ content }}
					</div>
				</div>

				{% include footer.html %}
				{% include drawer.html %}
			</div>
		</div>
		{% include javascripts.html %}
	</body>
</html>
