.main-header {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	position: relative;
	padding: 50px 0;

	@include respond-to(768) {
		padding: $rs;
	}

	&__category{
		text-align: right;
		font-size: $rs;
		line-height: 1;
		font-weight: 300;
		color: #666;
	}

	&__links {
		text-align: center;
		color: #ccc;
		font-size: $rs * 2;

		a {
			text-decoration: none;
			color: #999;

			&:hover {
				color: #333;
			}
		}
	}
}
